* {
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu ul li{
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.conteudo {
    background: red;
}

.sobre {
    color: blueviolet;
}

.formulario {
    background: aqua;
}
footer {
    
    font-size: small;
}
footer h1 {
    font-size: medium;
}
footer ul li {
    list-style: none;
    
}
