* {
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu ul li{
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
}

.conteudo {
    background: red;
}

.sobre {
    color: blueviolet;
}

.formulario {
    background: aqua;
}
